@media only screen and(max-width:1200px) {
	.header{
		max-width: 70%;
		max-height: 70%;
	}
	.header-nav {
		max-width: 70%;
	}
}

@media only screen and(max-width:992px) {
	.description-text{
		max-width: 50%;
	}
}

@media only screen and(max-width:768px) {
		.description-text{
		max-width: 50%;
	}
}

@media only screen and(max-width:480px) {
	
}

@media only screen and(max-width:320px) {
	
}